
.no-text-decoration{
  text-decoration: none;
  
}
.list-item{
  padding:10px;
  font-size: 20px;
}
.modal{
  display: none;
}

.block{
  display: block;
  background-color: rgba(50,50,50,0.5);
}
.resume{
  margin:20px;
  margin-left: 50px;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 50px 20px;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar li {
  display: block;
  border: 1px solid #4f81c7;
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Links on mouse-over */
.sidebar li:hover{
  background-color:white;
  ;
}

/* Page content.  */
div.content {
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding: 1px;
    /* display: none; */
    /* height:80px; */
  }

  .sidebar li {
    float: left;
    font-size: 20px;
  }
  div.content {margin-left: 0;
              margin-top: 30px;
              background-color: #f7f7f7;}
  .resume{margin: 1px;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar li {
    text-align: center;
    float: none;
    font-size: 12px;
  }
}

.input-style:focus{
  border:5px solid rgba(63, 136, 239, 0.4);
  outline:none;
}

.input-style{
  width:100%;
  border:1px solid rgb(207, 207, 207);
  padding:6px;
  border-radius:8px;
}

.image-aspect-ratio{
aspect-ratio: 0.9;
}